lom-3d-chart {
  display: block;
  position: relative;
  min-height: 100svh;

  .nav-controls {
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: var(--background-color);
  }

  #tree {
    position: absolute;
    z-index: 1;
  }

  canvas {
    max-width: 100%;
  }

  .controls {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: auto;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
}
