@import url("./modules/nano.css");
@import url("./modules/iconos.css");
@import url('../fonts/Quicksand/Quicksand.css');
@import url('../fonts/Icomoon/Icomoon.css');
@import url('./table.css');
@import url('./navbar.css');
@import url('./filters.css');
@import url('./home.css');

:root {
  color-scheme: light dark;
  --background-color: light-dark(#fcfcfc, #202028);
  --foreground-color: light-dark(#707784, #fcfcfc);
  --accent-color: light-dark(#e8a98f, #d5e288);
  --header-color: light-dark(#64719b, #64719b);
  --footer-color: light-dark(#b9d2ea, #3c3356);
  --tips-color: light-dark(#e5f1ff, #53667c);
  --link-color: light-dark(#4575c5, #c1ff5f);

  --amen: hsl(0deg 40% 31.65%);
  --es: hsl(50deg 55% 40%);
  --espt: hsl(120deg 30% 40%);
  --pt: hsl(160deg 55% 40%);
  --euen: hsl(210deg 55% 40%);
  --mush: hsl(220deg 55% 40%);
  --de: hsl(240deg 55% 40%);
  --fr: hsl(250deg 55% 40%);
  --me: hsl(270deg 55% 40%);
  --tr: hsl(280deg 55% 40%);
  --ru: hsl(330deg 55% 35%);

  --cn: hsl(10deg 45.55% 42.2%);
  --vn: hsl(30deg 55% 40%);
  --id: hsl(70deg 55% 40%);
  --en: hsl(90deg 55% 40%);
  --th: hsl(190deg 55% 40%);

  --kr: hsl(300deg 47% 42.53%);
  --jp: hsl(330deg 55% 40%);
  --tw: hsl(0deg 55% 40%);

  --elite: linear-gradient(131deg, rgb(75 146 81) 0%, rgb(24 90 48) 100%);
  --top: linear-gradient(131deg, rgb(34, 34, 196) 0%, rgb(179, 0, 255) 100%);
  --vmod: linear-gradient(131deg, rgb(97 31 202) 0%, rgb(14 173 145) 100%);
  --creator: linear-gradient(131deg, rgb(212, 49, 185) 0%, rgb(14 173 145) 100%);
  --detective: linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%);

  /* linear-gradient(131deg, rgb(214, 184, 255) 0%, rgb(176, 241, 255) 100%); */
  /* linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%); */
  /* linear-gradient(131deg, rgb(126 25 219) 0%, rgb(223 33 189) 100%); */
  /* linear-gradient(131deg, rgb(34, 34, 196) 0%, rgb(179, 0, 255) 100%); */
  /* linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%); */
  /* linear-gradient(131deg, rgb(214, 184, 255) 0%, rgb(176, 241, 255) 100%); */
  /* linear-gradient(131deg, rgb(226, 203, 160) 0%, rgb(155, 112, 73) 100%); */
  /* linear-gradient(131deg, rgb(174 39 122) 0%, rgb(212 64 154) 100%); */
  /* --accent-color: #88e2b4; */
  /* --accent-color-2: #d5e288; */
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body.light {
  color-scheme: light;
}

body.dark {
  color-scheme: dark;
}

.sr-only {
  display: none;
}

p,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &.disabled {

    &,
    &.btn {
      color: #333 !important;
      pointer-events: none;
    }

    &.btn {
      --color: #555;
    }
  }
}

.cn {
  background: var(--cn);
}

.tw {
  background: var(--tw);
}

.kr {
  background: var(--kr);
}

.jp {
  background: var(--jp);
}

.vn {
  background: var(--vn);
}

.id {
  background: var(--id);
}

.th {
  background: var(--th);
}

.en {
  background: var(--en);
}

.amen {
  background: var(--amen);
}

.es {
  background: var(--es);
}

.espt {
  background: var(--espt);
}

.pt {
  background: var(--pt);
}

.euen {
  background: var(--euen);
}

.mush {
  background: var(--mush);
}

.de {
  background: var(--de);
}

.fr {
  background: var(--fr);
}

.me {
  background: var(--me);
}

.tr {
  background: var(--tr);
}

.ru {
  background: var(--ru);
}

.detective {
  background: var(--detective);
  color: #482802 !important
}

.elite {
  background: var(--elite);
}

.top {
  background: var(--top);
}

.creator {
  background: var(--creator);
}

.vmod {
  background: var(--vmod);
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: var(--accent-color);
}

.pill {
  color: #fff;
  font-size: 12px;

  &.month {
    background-color: #514c78;
  }
}

.base {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.help-tooltip {
  position: relative;

  .help {
    position: absolute;
    background-color: #202028;
    padding: 6px;
    white-space: nowrap;
    translate: -50%;
    top: -30px;
    pointer-events: none;
    visibility: hidden;
  }

  &:hover {
    .help {
      visibility: visible;
    }
  }
}

lom-state {
  nn-pilar {
    padding: 1rem;
  }
}

lom-state,
lom-players {
  nn-pilar {
    background-color: hsl(240 6% 17% / 1);
  }

  .table-body {
    gap: 0.5rem;
  }
}

lom-merges {
  .merged-list {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .merge-table {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

lom-gaps {
  .table-body {
    gap: .5rem;
    text-align: center;

    nn-pilar {
      --size: auto;
      flex-grow: 1;
      width: 75px;
      padding: 1rem;
      border-radius: 10px;

      &.missing {
        opacity: 0.2;
      }
    }
  }
}

lom-normalizer {

  .input,
  .output {
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 1rem;
  }

  .input {
    color: #ddd;
    background: #333;
    resize: none;
    /* border: ; */
    min-height: 320px;
  }
  
  .output {
    color: #ddd;
    border: none;
    background: #2a2a5e;
  }
}

@keyframes waves {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 70px;
  }
}

@keyframes floating {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 10px;
  }
}