@import url("./modules/nano.css");
@import url("./modules/iconos.css");
@import url('../fonts/Quicksand/Quicksand.css');
@import url('../fonts/Icomoon/Icomoon.css');
@import url('./table.css');

:root {
  color-scheme: light dark;
  --background-color: light-dark(#fcfcfc, #202028);
  --foreground-color: light-dark(#707784, #fcfcfc);
  --accent-color: light-dark(#e8a98f, #d5e288);
  --header-color: light-dark(#64719b, #64719b);
  --footer-color: light-dark(#b9d2ea, #3c3356);
  --tips-color: light-dark(#e5f1ff, #53667c);
  --link-color: light-dark(#4575c5, #c1ff5f);
  /* --btn-color: light-dark(#b6c8e6, #b6c8e6); */

  --amen: hsl(0deg 40% 31.65%);
  --es: hsl(50deg 55% 40%);
  --espt: hsl(120deg 30% 40%);
  --pt: hsl(160deg 55% 40%);
  --euen: hsl(210deg 55% 40%);
  --mush: hsl(220deg 55% 40%);
  --de: hsl(240deg 55% 40%);
  --fr: hsl(250deg 55% 40%);
  --me: hsl(270deg 55% 40%);
  --tr: hsl(280deg 55% 40%);
  --ru: hsl(330deg 55% 35%);

  --cn: hsl(10deg 45.55% 42.2%);
  --vn: hsl(30deg 55% 40%);
  --id: hsl(70deg 55% 40%);
  --en: hsl(90deg 55% 40%);
  --th: hsl(190deg 55% 40%);
  
  --kr: hsl(300deg 47% 42.53%);
  --jp: hsl(330deg 55% 40%);
  --tw: hsl(0deg 55% 40%);

  --elite: linear-gradient(131deg, rgb(75 146 81) 0%, rgb(24 90 48) 100%);
  --top: linear-gradient(131deg, rgb(34, 34, 196) 0%, rgb(179, 0, 255) 100%);
  --vmod: linear-gradient(131deg, rgb(97 31 202) 0%, rgb(14 173 145) 100%);
  --creator: linear-gradient(131deg, rgb(212, 49, 185) 0%, rgb(14 173 145) 100%);
  --detective: linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%);

  /* linear-gradient(131deg, rgb(214, 184, 255) 0%, rgb(176, 241, 255) 100%); */
  /* linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%); */
  /* linear-gradient(131deg, rgb(126 25 219) 0%, rgb(223 33 189) 100%); */
  /* linear-gradient(131deg, rgb(34, 34, 196) 0%, rgb(179, 0, 255) 100%); */
  /* linear-gradient(131deg, rgb(202 155 31) 0%, rgb(246 216 83) 100%); */
  /* linear-gradient(131deg, rgb(214, 184, 255) 0%, rgb(176, 241, 255) 100%); */
  /* linear-gradient(131deg, rgb(226, 203, 160) 0%, rgb(155, 112, 73) 100%); */
  /* linear-gradient(131deg, rgb(174 39 122) 0%, rgb(212 64 154) 100%); */
  /* --accent-color: #88e2b4; */
  /* --accent-color-2: #d5e288; */
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body.light {
  color-scheme: light;
}

body.dark {
  color-scheme: dark;
}

.sr-only {
  display: none;
}

p,
h2 {
  margin: 0;
}

h2 {
  font-size: 29px;
  color: var(--accent-color);
}

img {
  max-width: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

nav {
  ul {
    display: flex;
    padding: .5rem;
    margin: 0;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: end;

    a {
      color: var(--header-color);
      padding: 1rem;
      transition: background-color, color, ease, 200ms;
      border-radius: 10px;

      &:hover,
      &.active {
        background-color: var(--header-color);
        color: var(--background-color);
      }
    }
  }
}

.home {
  nav {
    padding: 1rem;
  }

  header {
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      content: "";
      display: block;
      width: 100%;
      height: 70px;
      background: url('../img/wave-white-down-inv.png') top center repeat;
      animation: waves linear 5s infinite;
    }

    &:after {
      position: absolute;
      bottom: -70px;
      content: "";
      display: block;
      width: 100%;
      height: 70px;
      background: url('../img/wave-denim.png') top center repeat;
      animation: waves linear 5s infinite reverse;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-block: 10rem;
  }

  section {
    nn-pilar {
      display: flex;
      justify-content: center;

      .btn {
        min-width: 200px;
      }

      &[size="30%"] {
        align-items: center;
      }

      &[size="70%"] {
        flex-flow: column;
        padding-inline: 1.5rem;
        gap: 1rem;
      }
    }

    .ltr {
      flex-direction: row-reverse;
      text-align: right;
    }

    .rtl {
      flex-direction: row;
      text-align: left;
    }
  }

  footer {
    background-color: var(--footer-color);
    position: relative;
    padding: 6rem 0 7rem;
    font-size: 12px;

    blockquote {
      border-radius: 10px;
      position: relative;
      max-width: 500px;
      margin: auto;
      background-color: var(--tips-color);
      padding: 1rem;
      display: flex;
      gap: .5rem;
      flex-direction: column;
      animation: floating 2s ease-in-out infinite alternate;

      .angel {
        position: absolute;
        width: 100px;
        top: -60px;

        &.angel-1 {
          right: -80px;
        }

        &.angel-2 {
          transform: rotateY(180deg);
          left: -80px;
        }
      }

      ul,
      p {
        margin: 0;
      }

      ul {
        padding-inline-start: 1rem;
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      top: -70px;
      background: url('../img/wave-blue-inv.png') top center repeat;
      animation: waves linear 5s infinite;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      bottom: 0;
      background: url('../img/wave-white-inv.png') top center repeat;
      animation: waves linear 5s infinite reverse;
    }
  }
}

@media (max-width: 992px) {
  .home {
    section {
      nn-pilar {

        &[size="30%"],
        &[size="70%"] {
          text-align: center;
        }
      }
    }
  }
}

.workarea {
  .cn {
    background: var(--cn);
  }

  .tw {
    background: var(--tw);
  }

  .kr {
    background: var(--kr);
  }

  .jp {
    background: var(--jp);
  }

  .vn {
    background: var(--vn);
  }

  .id {
    background: var(--id);
  }

  .th {
    background: var(--th);
  }

  .en {
    background: var(--en);
  }

  .amen {
    background: var(--amen);
  }

  .es {
    background: var(--es);
  }

  .espt {
    background: var(--espt);
  }

  .pt {
    background: var(--pt);
  }

  .euen {
    background: var(--euen);
  }

  .mush {
    background: var(--mush);
  }

  .de {
    background: var(--de);
  }

  .fr {
    background: var(--fr);
  }

  .me {
    background: var(--me);
  }

  .tr {
    background: var(--tr);
  }

  .ru {
    background: var(--ru);
  }

  .detective {
    background: var(--detective);
    color: #482802 !important
  }

  .elite {
    background: var(--elite);
  }

  .top {
    background: var(--top);
  }

  .creator {
    background: var(--creator);
  }

  .vmod {
    background: var(--vmod);
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }

  .pill {
    color: #fff;
    font-size: 12px;

    &.month {
      background-color: #514c78;
    }
  }

  .filters {
    position: sticky;
    inset: 0 0 auto 0;
    width: 100%;
    z-index: 1;
    background: var(--background-color);
    padding: 1rem 0;

    .controllers {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 2px;
  
      button,
      div {
        &.active {
          outline: 2px solid #fff;
        }
      }
  
      button {
        &:hover {
          filter: brightness(1.25);
          cursor: pointer;
        }
      }
  
      div {
  
        &:hover,
        &.active {
          cursor: not-allowed;
        }
      }
  
      button,
      div {
        color: #fff;
        font-family: "Gill Sans", sans-serif;
        font-size: 14px;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 1rem;
        border: 0;
        font-weight: bold;
        transition: opacity ease 200ms;
        text-align: center;
        border-radius: 10px;
  
        &#all {
          background: #5a5a5a;
          color: #fff;
        }
      }
    }
  }

  .user-details {
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;

    span {
      font-size: 12px;
      background-color: hsl(0deg 0% 100% / 60%);
      color: var(--charcoal);
      padding: 3px 6px;
      border-radius: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .date-rank-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .names-group {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .table-pill-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    li {
      opacity: 1;
      flex-grow: 1;
      flex-basis: 130px;
      padding: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 70px;

      &.missing {
        opacity: 0.5;
      }
    }
  }

  blockquote {
    max-width: 680px;
    margin: auto;
    font-size: 14px;

    ul {
      padding-inline-start: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }

  .base {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .title-disclaimer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

@media (max-width: 480px) {
  .user-details {
    flex-direction: column;
  }

  mr-users {
    >span {
      flex-direction: column;

      >button {
        width: 100% !important;
      }
    }
  }
}

.help-tooltip {
  position: relative;

  .help {
    position: absolute;
    background-color: #202028;
    padding: 6px;
    white-space: nowrap;
    translate: -50%;
    top: -30px;
    pointer-events: none;
    visibility: hidden;
  }

  &:hover {
    .help {
      visibility: visible;
    }
  }
}

@keyframes waves {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 70px;
  }
}

@keyframes floating {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 10px;
  }
}