lom-navbar {
  display: block;

  .mobile-controls {
    display: flex;
    justify-content: space-between;

    button {
      padding: 1rem;
      border: none;
      font-size: 1.5rem;
      border-radius: 10px;
      background-color: transparent;
      color: var(--foreground-color);

      &.close-menu {
        display: none;
      }

      &:active,
      &:focus {
        background-color: (255 255 255 / 0.1);
      }
    }
  }

  ul {
    display: flex;
    padding: 0 .5rem;
    margin: 0;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;

    a {
      color: var(--header-color);
      padding: 1rem;
      transition: background-color, color, ease, 200ms;
      border-radius: 10px;
      display: inline-block;

      &:hover,
      &.active {
        background-color: var(--header-color);
        color: var(--background-color);
      }
    }
  }
}

@media (max-width: 992px) {
  lom-navbar {
    &.open {
      /* height: 100svh;
      overflow: auto; */

      .mobile-controls {
        button {
          &.close-menu {
            display: block;
          }
        }
      }

      ul {
        display: flex;
      }
    }

    ul {
      flex-direction: column;
      display: none;

      li {
        width: 100%;
        text-align: center;

        a {
          width: 100%;
        }
      }

      nn-dropdown {
        flex-basis: 100%;
        width: 100%;
        display: block;

        &,
        &.open {
          .dropdown-trigger {
            display: none;
          }

          .dropdown-content {
            display: flex;
            width: 100%;
            flex-direction: column;
            position: static;
          }
        }

      }
    }
  }
}