nn-icono {
  --icon: '';
  --direction: '';
  font-family: "icomoon" !important;
  
  &:before {
    display: inline-block;
    content: var(--icon);
    rotate: var(--direction);
  }

  &.d0, &.down { --direction: 0deg; }
  &.d45 { --direction: 45deg; }
  &.d90, &.left { --direction: 90deg; }
  &.d135 { --direction: 135deg; }
  &.d180, &.up { --direction: 180deg; }
  &.d225 { --direction: 225deg; }
  &.d270, &.right { --direction: 270deg; }
  &.d315 { --direction: 315deg; }

  &.arrow-angle { --icon: "\2304"; }
  &.arrow-angle-double { --icon: "\21e3"; }
  &.arrow-chevron { --icon: "\2357"; }
  &.arrow-short { --icon: "\2b07"; }
  &.arrow-long { --icon: "\ffec"; }
  &.arrow-caret { --icon: "\1f53b"; }
  &.arrow-level { --icon: "\21b4"; }
  &.hand-pointer-o { --icon: "\1f446"; }
  &.hand-o { --icon: "\1f447"; }
  &.thumbs-o { --icon: "\a002"; }
  &.thumbs { --icon: "\1f44e"; }
  &.compress { --icon: "\a003"; }
  &.expand { --icon: "\a004"; }
  &.ellipsis { --icon: "\22ee"; }
  &.arrows-2-sides { --icon: "\2195"; }
  &.sort { --icon: "\2b0d"; }
  &.arrows-4-sides { --icon: "\a005"; }
  &.refresh { --icon: "\1f504"; }
  &.rotate-left { --icon: "\27f2"; }
  &.mail-reply { --icon: "\21b6"; }
  &.mail-reply-all { --icon: "\a006"; }
  &.check { --icon: "\2714"; }
  &.times { --icon: "\2715"; }
  &.plus { --icon: "\2b"; }
  &.minus { --icon: "\2d"; }
  &.external-link { --icon: "\a010"; }
  &.glass { --icon: "\1f378"; }
  &.music { --icon: "\266b"; }
  &.search { --icon: "\1f50d"; }
  &.envelope-o { --icon: "\270"; }
  &.heart { --icon: "\2764"; }
  &.star { --icon: "\2b50"; }
  &.star-o { --icon: "\1f31f"; }
  &.user { --icon: "\1f464"; }
  &.film { --icon: "\1f39e"; }
  &.th-large { --icon: "\a011"; }
  &.th { --icon: "\a012"; }
  &.th-list { --icon: "\a013"; }
  &.power-off { --icon: "\1f4f4"; }
  &.signal { --icon: "\1f4f6"; }
  &.cog { --icon: "\2699"; }
  &.trash-o { --icon: "\1f5d1"; }
  &.home { --icon: "\1f3e0"; }
  &.file-o { --icon: "\1f4c4"; }
  &.clock-o { --icon: "\23f0"; }
  &.road { --icon: "\1f6e3"; }
  &.download { --icon: "\1f4e5"; }
  &.inbox { --icon: "\1f4e3"; }
  &.list-alt { --icon: "\a019"; }
  &.lock { --icon: "\1f512"; }
  &.flag { --icon: "\1f3f3"; }
  &.headphones { --icon: "\1f3a7"; }
  &.volume-off { --icon: "\1f508"; }
  &.volume-down { --icon: "\1f509"; }
  &.volume-up { --icon: "\1f50a"; }
  &.qrcode { --icon: "\a021"; }
  &.barcode { --icon: "\a022"; }
  &.tag { --icon: "\1f3f7"; }
  &.tags { --icon: "\a024"; }
  &.book { --icon: "\1f4d5"; }
  &.bookmark { --icon: "\1f516"; }
  &.print { --icon: "\1f5a8"; }
  &.camera { --icon: "\1f4f7"; }
  &.font { --icon: "\41"; }
  &.bold { --icon: "\42"; }
  &.italic { --icon: "\1d43c"; }
  &.text-height { --icon: "\a025"; }
  &.text-width { --icon: "\a026"; }
  &.align-left { --icon: "\a027"; }
  &.align-center { --icon: "\a028"; }
  &.align-right { --icon: "\a029"; }
  &.align-justify { --icon: "\a030"; }
  &.list { --icon: "\a031"; }
  &.dedent { --icon: "\a032"; }
  &.indent { --icon: "\a033"; }
  &.video-camera { --icon: "\1f3a5"; }
  &.image { --icon: "\1f5bc"; }
  &.pencil { --icon: "\270f"; }
  &.map-marker { --icon: "\1f4c3"; }
  &.adjust { --icon: "\a034"; }
  &.tint { --icon: "\1fa78"; }
  &.edit { --icon: "\1f4dd"; }
  &.share-square-o { --icon: "\a035"; }
  &.play { --icon: "\25b6"; }
  &.pause { --icon: "\23f8"; }
  &.stop { --icon: "\23f9"; }
  &.forward { --icon: "\23e9"; }
  &.fast-forward { --icon: "\23ed"; }
  &.step-forward { --icon: "\a037"; }
  &.eject { --icon: "\23cf"; }
  &.crosshairs { --icon: "\2629"; }
  &.ban { --icon: "\1f6ab"; }
  &.asterisk { --icon: "\2a"; }
  &.gift { --icon: "\1f381"; }
  &.leaf { --icon: "\1f343"; }
  &.fire { --icon: "\1f525"; }
  &.eye { --icon: "\1f441"; }
  &.eye-slash { --icon: "\1f648"; }
  &.exclamation-triangle { --icon: "\26a0"; }
  &.plane { --icon: "\2708"; }
  &.calendar { --icon: "\1f5d3"; }
  &.random { --icon: "\1f500"; }
  &.comment { --icon: "\1f4ac"; }
  &.magnet { --icon: "\1f9f2"; }
  &.retweet { --icon: "\a038"; }
  &.shopping-cart { --icon: "\1f6d2"; }
  &.folder { --icon: "\1f4c1"; }
  &.folder-open { --icon: "\1f4c2"; }
  &.bar-chart { --icon: "\1f4ca"; }
  &.camera-retro { --icon: "\a041"; }
  &.key { --icon: "\1f511"; }
  &.cogs { --icon: "\a042"; }
  &.comments { --icon: "\a043"; }
  &.heart-o { --icon: "\a045"; }
  &.sign-out { --icon: "\a046"; }
  &.thumb-tack { --icon: "\1f4cc"; }
  &.sign-in { --icon: "\a048"; }
  &.trophy { --icon: "\1f3c6"; }
  &.lemon-o { --icon: "\1f34b"; }
  &.phone { --icon: "\1f4de"; }
  &.square-o { --icon: "\a050"; }
  &.bookmark-o { --icon: "\a051"; }
  &.twitter { --icon: "\1f413"; }
  &.facebook { --icon: "\a053"; }
  &.github { --icon: "\1f431"; }
  &.unlock { --icon: "\a054"; }
  &.credit-card { --icon: "\1f4b3"; }
  &.feed { --icon: "\a055"; }
  &.hdd-o { --icon: "\a056"; }
  &.bullhorn { --icon: "\1f4e2"; }
  &.bell-o { --icon: "\a057"; }
  &.certificate { --icon: "\a058"; }
  &.wrench { --icon: "\1f527"; }
  &.tasks { --icon: "\a059"; }
  &.filter { --icon: "\a060"; }
  &.briefcase { --icon: "\1f4bc"; }
  &.group { --icon: "\1f465"; }
  &.chain { --icon: "\1f517"; }
  &.cloud { --icon: "\2601"; }
  &.flask { --icon: "\1f52c"; }
  &.cut { --icon: "\2702"; }
  &.copy { --icon: "\a062"; }
  &.paperclip { --icon: "\1f4ce"; }
  &.floppy-o { --icon: "\1f4be"; }
  &.square { --icon: "\f0c8"; }
  &.bars { --icon: "\2630"; }
  &.list-ul { --icon: "\a063"; }
  &.list-ol { --icon: "\a064"; }
  &.strikethrough { --icon: "\a065"; }
  &.underline { --icon: "\a066"; }
  &.table { --icon: "\a067"; }
  &.magic { --icon: "\1fa84"; }
  &.truck { --icon: "\1f69a"; }
  &.pinterest { --icon: "\a068"; }
  &.money { --icon: "\1f4b8"; }
  &.columns { --icon: "\a072"; }
  &.envelope { --icon: "\2709"; }
  &.linkedin { --icon: "\a074"; }
  &.gavel { --icon: "\1f528"; }
  &.dashboard { --icon: "\a075"; }
  &.comment-o { --icon: "\a076"; }
  &.comments-o { --icon: "\a077"; }
  &.bolt { --icon: "\26a1"; }
  &.sitemap { --icon: "\a078"; }
  &.umbrella { --icon: "\2602"; }
  &.clipboard { --icon: "\1f4cb"; }
  &.lightbulb-o { --icon: "\1f4a1"; }
  &.exchange { --icon: "\21c4"; }
  &.user-md { --icon: "\1f468"; }
  &.stethoscope { --icon: "\1fa7a"; }
  &.suitcase { --icon: "\a084"; }
  &.bell { --icon: "\1f514"; }
  &.coffee { --icon: "\2615"; }
  &.cutlery { --icon: "\1f374"; }
  &.file-text-o { --icon: "\a085"; }
  &.building-o { --icon: "\1f3e9"; }
  &.hospital-o { --icon: "\1f3e5"; }
  &.ambulance { --icon: "\1f691"; }
  &.medkit { --icon: "\1f48a"; }
  &.fighter-jet { --icon: "\a086"; }
  &.beer { --icon: "\1f37a"; }
  &.desktop { --icon: "\1f5a5"; }
  &.laptop { --icon: "\1f4bb"; }
  &.tablet { --icon: "\a088"; }
  &.mobile { --icon: "\1f4f1"; }
  &.circle-o { --icon: "\fc0"; }
  &.quote-left { --icon: "\a089"; }
  &.quote-right { --icon: "\a090"; }
  &.spinner { --icon: "\a091"; }
  &.circle { --icon: "\25cb"; }
  &.github-alt { --icon: "\1f408"; }
  &.folder-o { --icon: "\a093"; }
  &.folder-open-o { --icon: "\a094"; }
  &.smile-o { --icon: "\1f642"; }
  &.frown-o { --icon: "\1f641"; }
  &.meh-o { --icon: "\1f610"; }
  &.gamepad { --icon: "\1f579"; }
  &.keyboard-o { --icon: "\2328"; }
  &.flag-o { --icon: "\a095"; }
  &.flag-checkered { --icon: "\1f3c1"; }
  &.terminal { --icon: "\a096"; }
  &.code { --icon: "\a097"; }
  &.star-half-empty { --icon: "\a098"; }
  &.location-arrow { --icon: "\a099"; }
  &.crop { --icon: "\a100"; }
  &.code-fork { --icon: "\a101"; }
  &.chain-broken { --icon: "\a102"; }
  &.question { --icon: "\3f"; }
  &.info { --icon: "\2139"; }
  &.exclamation { --icon: "\2757"; }
  &.superscript { --icon: "\b2"; }
  &.subscript { --icon: "\2082"; }
  &.eraser { --icon: "\a107"; }
  &.puzzle-piece { --icon: "\1f9e9"; }
  &.microphone { --icon: "\1f3a4"; }
  &.microphone-slash { --icon: "\a109"; }
  &.shield { --icon: "\1f6e1"; }
  &.calendar-o { --icon: "\1f4c6"; }
  &.fire-extinguisher { --icon: "\1f9ef"; }
  &.rocket { --icon: "\1f680"; }
  &.html5 { --icon: "\35"; }
  &.css3 { --icon: "\33"; }
  &.anchor { --icon: "\2693"; }
  &.unlock-alt { --icon: "\1f513"; }
  &.bullseye { --icon: "\25ce"; }
  &.ticket { --icon: "\1f3ab"; }
  &.compass { --icon: "\1f9ed"; }
  &.eur { --icon: "\20ac"; }
  &.gbp { --icon: "\a3"; }
  &.dollar { --icon: "\24"; }
  &.inr { --icon: "\20b9"; }
  &.cny { --icon: "\a5"; }
  &.rouble { --icon: "\20bd"; }
  &.krw { --icon: "\20a9"; }
  &.bitcoin { --icon: "\20bf"; }
  &.file { --icon: "\a124"; }
  &.file-text { --icon: "\a125"; }
  &.sort-alpha-asc { --icon: "\a126"; }
  &.sort-alpha-desc { --icon: "\a127"; }
  &.sort-amount-asc { --icon: "\a128"; }
  &.sort-amount-desc { --icon: "\a129"; }
  &.sort-numeric-asc { --icon: "\a130"; }
  &.sort-numeric-desc { --icon: "\a131"; }
  &.youtube-play { --icon: "\a133"; }
  &.dropbox { --icon: "\a134"; }
  &.stack-overflow { --icon: "\a135"; }
  &.instagram { --icon: "\a136"; }
  &.flickr { --icon: "\a137"; }
  &.bitbucket { --icon: "\a139"; }
  &.tumblr { --icon: "\a140"; }
  &.apple { --icon: "\1f34e"; }
  &.windows { --icon: "\1fa9f"; }
  &.android { --icon: "\1f916"; }
  &.linux { --icon: "\1f427"; }
  &.dribbble { --icon: "\a142"; }
  &.skype { --icon: "\a143"; }
  &.foursquare { --icon: "\a144"; }
  &.trello { --icon: "\a145"; }
  &.female { --icon: "\1f6ba"; }
  &.male { --icon: "\1f6b9"; }
  &.sun-o { --icon: "\1f31e"; }
  &.moon-o { --icon: "\1f31d"; }
  &.archive { --icon: "\1f5c3"; }
  &.bug { --icon: "\1fab2"; }
  &.vk { --icon: "\f189"; }
  &.dot-circle-o { --icon: "\2609"; }
  &.wheelchair { --icon: "\267f"; }
  &.try { --icon: "\20ba"; }
  &.space-shuttle { --icon: "\1f47e"; }
  &.slack { --icon: "\f198"; }
  &.bank { --icon: "\1f3e6"; }
  &.graduation-cap { --icon: "\1f393"; }
  &.google { --icon: "\f1a0"; }
  &.reddit { --icon: "\f1a1"; }
  &.language { --icon: "\f1ab"; }
  &.fax { --icon: "\1f4e0"; }
  &.building { --icon: "\1f3e2"; }
  &.child { --icon: "\1f9d2"; }
  &.paw { --icon: "\1f43e"; }
  &.spoon { --icon: "\1f944"; }
  &.cube { --icon: "\1f4e6"; }
  &.cubes { --icon: "\f1b3"; }
  &.behance { --icon: "\f1b4"; }
  &.steam { --icon: "\f1b6"; }
  &.recycle { --icon: "\267b"; }
  &.automobile { --icon: "\1f698"; }
  &.cab { --icon: "\1f696"; }
  &.tree { --icon: "\1f332"; }
  &.spotify { --icon: "\f1bc"; }
  &.deviantart { --icon: "\f1bd"; }
  &.soundcloud { --icon: "\f1be"; }
  &.database { --icon: "\f1c0"; }
  &.vine { --icon: "\f1ca"; }
  &.codepen { --icon: "\f1cb"; }
  &.jsfiddle { --icon: "\f1cc"; }
  &.life-bouy { --icon: "\1f6df"; }
  &.circle-o-notch { --icon: "\f1ce"; }
  &.wechat { --icon: "\f1d7"; }
  &.paper-plane { --icon: "\f1d8"; }
  &.history { --icon: "\f1da"; }
  &.circle-thin { --icon: "\f1db"; }
  &.header { --icon: "\f1dc"; }
  &.paragraph { --icon: "\f1dd"; }
  &.sliders { --icon: "\f1de"; }
  &.share-alt { --icon: "\f1e0"; }
  &.bomb { --icon: "\f1e2"; }
  &.futbol-o { --icon: "\f1e3"; }
  &.tty { --icon: "\f1e4"; }
  &.binoculars { --icon: "\1f52d"; }
  &.plug { --icon: "\1f50c"; }
  &.slideshare { --icon: "\f1e7"; }
  &.twitch { --icon: "\f1e8"; }
  &.yelp { --icon: "\f1e9"; }
  &.newspaper-o { --icon: "\f1ea"; }
  &.wifi { --icon: "\f1eb"; }
  &.calculator { --icon: "\f1ec"; }
  &.paypal { --icon: "\f1ed"; }
  &.google-wallet { --icon: "\f1ee"; }
  &.bell-slash { --icon: "\1f515"; }
  &.bell-slash-o { --icon: "\f1f7"; }
  &.trash { --icon: "\f1f8"; }
  &.copyright { --icon: "\a9"; }
  &.at { --icon: "\40"; }
  &.eyedropper { --icon: "\f1fb"; }
  &.paint-brush { --icon: "\1f58c"; }
  &.birthday-cake { --icon: "\1f382"; }
  &.area-chart { --icon: "\1f4c9"; }
  &.pie-chart { --icon: "\1f967"; }
  &.line-chart { --icon: "\1f4c8"; }
  &.lastfm { --icon: "\f202"; }
  &.toggle-off { --icon: "\f204"; }
  &.toggle-on { --icon: "\f205"; }
  &.bicycle { --icon: "\1f6b2"; }
  &.bus { --icon: "\1f68d"; }
  &.angellist { --icon: "\f209"; }
  &.cc { --icon: "\f20a"; }
  &.diamond { --icon: "\1f48e"; }
  &.ship { --icon: "\26f5"; }
  &.user-secret { --icon: "\1f575"; }
  &.motorcycle { --icon: "\1f3cd"; }
  &.street-view { --icon: "\f21d"; }
  &.heartbeat { --icon: "\f21e"; }
  &.venus { --icon: "\2640"; }
  &.mars { --icon: "\2642"; }
  &.mercury { --icon: "\263f"; }
  &.intersex { --icon: "\26a5"; }
  &.transgender-alt { --icon: "\26a7"; }
  &.venus-double { --icon: "\26a2"; }
  &.mars-double { --icon: "\26a3"; }
  &.venus-mars { --icon: "\26a4"; }
  &.mars-stroke { --icon: "\26a6"; }
  &.neuter { --icon: "\26b2"; }
  &.genderless { --icon: "\26ac"; }
  &.pinterest-p { --icon: "\f231"; }
  &.whatsapp { --icon: "\f232"; }
  &.server { --icon: "\f233"; }
  &.bed { --icon: "\1f6cf"; }
  &.train { --icon: "\1f683"; }
  &.subway { --icon: "\1f686"; }
  &.medium { --icon: "\f23a"; }
  &.battery { --icon: "\1f50b"; }
  &.battery-3 { --icon: "\1faac"; }
  &.battery-2 { --icon: "\f242"; }
  &.battery-1 { --icon: "\1faab"; }
  &.battery-0 { --icon: "\f244"; }
  &.mouse-pointer { --icon: "\25e3"; }
  &.i-cursor { --icon: "\f246"; }
  &.object-group { --icon: "\f247"; }
  &.object-ungroup { --icon: "\f248"; }
  &.sticky-note { --icon: "\f249"; }
  &.sticky-note-o { --icon: "\f24a"; }
  &.clone { --icon: "\f24d"; }
  &.balance-scale { --icon: "\2696"; }
  &.hourglass-2 { --icon: "\23f3"; }
  &.hourglass-3 { --icon: "\231b"; }
  &.hourglass { --icon: "\23f"; }
  &.trademark { --icon: "\2122"; }
  &.registered { --icon: "\ae"; }
  &.creative-commons { --icon: "\33c4"; }
  &.wikipedia-w { --icon: "\57"; }
  &.safari { --icon: "\f267"; }
  &.chrome { --icon: "\f268"; }
  &.firefox { --icon: "\f269"; }
  &.opera { --icon: "\f26a"; }
  &.internet-explorer { --icon: "\f26b"; }
  &.television { --icon: "\1f4fa"; }
  &.amazon { --icon: "\f270"; }
  &.map-pin { --icon: "\1f4cd"; }
  &.map-signs { --icon: "\1faa7"; }
  &.map-o { --icon: "\f278"; }
  &.map { --icon: "\1f5fa"; }
  &.vimeo { --icon: "\f27d"; }
  &.fonticons { --icon: "\f280"; }
  &.reddit-alien { --icon: "\f281"; }
  &.edge { --icon: "\f282"; }
  &.credit-card-alt { --icon: "\f283"; }
  &.fort-awesome { --icon: "\f286"; }
  &.usb { --icon: "\f287"; }
  &.product-hunt { --icon: "\f288"; }
  &.mixcloud { --icon: "\f289"; }
  &.shopping-bag { --icon: "\1f6cd"; }
  &.shopping-basket { --icon: "\1f9fa"; }
  &.hashtag { --icon: "\23"; }
  &.bluetooth { --icon: "\f293"; }
  &.bluetooth-b { --icon: "\f294"; }
  &.percent { --icon: "\25"; }
  &.gitlab { --icon: "\f296"; }
  &.universal-access { --icon: "\f29a"; }
  &.wheelchair-alt { --icon: "\1f9bc"; }
  &.blind { --icon: "\1f9af"; }
  &.audio-description { --icon: "\f29e"; }
  &.volume-control-phone { --icon: "\f2a0"; }
  &.braille { --icon: "\280b"; }
  &.assistive-listening-systems { --icon: "\1f9bb"; }
  &.american-sign-language-interpreting { --icon: "\f2a3"; }
  &.deaf { --icon: "\1f9cf"; }
  &.glide-g { --icon: "\f2a6"; }
  &.sign-language { --icon: "\f2a7"; }
  &.low-vision { --icon: "\f2a8"; }
  &.snapchat-ghost { --icon: "\f2ac"; }
  &.first-order { --icon: "\f2b0"; }
  &.fa { --icon: "\f2b4"; }
  &.handshake-o { --icon: "\1f91d"; }
  &.envelope-open { --icon: "\f2b6"; }
  &.envelope-open-o { --icon: "\f2b7"; }
  &.address-book { --icon: "\1f4d2"; }
  &.address-book-o { --icon: "\f2ba"; }
  &.address-card { --icon: "\f2bb"; }
  &.address-card-o { --icon: "\f2bc"; }
  &.user-o { --icon: "\f2c0"; }
  &.id-badge { --icon: "\f2c1"; }
  &.drivers-license { --icon: "\f2c2"; }
  &.drivers-license-o { --icon: "\f2c3"; }
  &.free-code-camp { --icon: "\f2c5"; }
  &.telegram { --icon: "\f2c6"; }
  &.thermometer { --icon: "\1f321"; }
  &.shower { --icon: "\1f6bf"; }
  &.bath { --icon: "\1f6c0"; }
  &.podcast { --icon: "\f2ce"; }
  &.window-maximize { --icon: "\f2d0"; }
  &.window-minimize { --icon: "\f2d1"; }
  &.window-restore { --icon: "\f2d2"; }
  &.microchip { --icon: "\f2db"; }
  &.snowflake-o { --icon: "\2744"; }
  &.globe { --icon: "\1f30e"; }
  &.spirit { --icon: "\1f984"; }
  &.aguacatekun { --icon: "\ff013"; }
  &.avocado { --icon: "\1f951"; }
  &.nano { --icon: "\4e"; }
}