nn-fila {
  --gap: 0;
  --padding-inline: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-inline: var(--padding-inline);
}

@media (max-width: 1200px) {
  nn-fila {
    &[break="lg"] {
      flex-direction: column;

      nn-pilar {
        --size: 100% !important;
      }
    }
  }
}

@media (max-width: 992px) {
  nn-fila {
    &[break="md"] {
      flex-direction: column;

      nn-pilar {
        --size: 100% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  nn-fila {
    &[break="sm"] {
      flex-direction: column;

      nn-pilar {
        --size: 100% !important;
      }
    }
  }
}

@media (max-width: 480px) {
  nn-fila {
    &[break="xs"] {
      flex-direction: column;

      nn-pilar {
        --size: 100% !important;
      }
    }
  }
}