nn-ayuda {
  position: relative;
  color: #fff;
  width: 1rem;
  display: inline-flex;
  height: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  .content {
    display: none;
    position: absolute;
    inset: 20px auto auto -20px;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    padding: .5rem;
    pointer-events: none;
    white-space: break-spaces;
  }

  &:hover .content {
    display: flex;
  }
}